* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li,h1,h2,h3,p{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
body{
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #000;
}

$colorMain : #17a2b8;
$btn : #dc3545;
$titleh2Color : #0078c8;

@mixin btn {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: $btn;
    padding: 10px 20px 10px 50px;
    span{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url("../icons/telephone.svg");
            background-size: cover;
            width: 20px;
            height: 20px;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &:hover{
        color: #fff;
        background-color: #c02131;
        span{
            &::before{
                background-image: url("../icons/telephone-fill.svg");
            }
        }
    }
}
@mixin h2Title {
    font-weight: 600;
    color: $titleh2Color;
    font-size: 32px;
    margin: 20px 0;
}